# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# IDE and Editor folders
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# System files
.DS_Store
Thumbs.db